---
# install Graylog by OS_family
- name: Install this role on {{ansible_os_family}}
  include: "{{ansible_os_family}}.yml"

# configure Graylog

#- name: Copy graylog.html to server
#  copy:
#    src: graylog.html
#    dest: /data/wwwroot
#    owner: nginx
#    group: nginx
#    mode: '0640'

#- name: Copy config_domain.sh to server and set X permission
#  copy:
#    src: config_domain.sh
#   dest: /etc/graylog
#    mode: '0740'

#- name: Copy new default and backup old default
#  copy:
#    src: default.conf
#    dest: /etc/nginx/conf.d/default.conf
#    backup: yes

#- name: change configuration file
#  template:
#    src: server.conf
#    dest: /etc/graylog/server/
#    owner: root
#    group: root
#    mode: 0644

- name: Set graylog config
  replace:
    path: /etc/zabbix/apache.conf
    regexp: '{{item.regexp}}'
    replace: '{{item.replace}}'
  with_items:
    - {regexp: /etc/apache2,replace: /etc/httpd}
    - {regexp: /usr/sbin/apache2,replace: /usr/sbin/apache}
    - {regexp: /usr/sbin/apache2,replace: /usr/sbin/httpd}
    - {regexp: /etc/apache2/sites-enabled,replace: /etc/httpd/conf.d}
    - {regexp: /etc/apache2,replace: /etc/httpd/conf}

- name: Start Graylog and restart Nginx
  service:
    name: "{{ item }}" 
    state: restarted
    enabled: yes
  loop:
    - graylog-server
    - nginx

# set soft link
- name: set soft link
  shell: |
    ln -sf /etc/graylog  /data/config
    ln -sf /var/log/graylog-server/server.log  /data/logs
    ln -sf /usr/share/graylog-server  /data/wwwroot/graylog-server
    ln -sf /usr/lib/systemd/system/graylog-server.service  /usr/lib/systemd/system/graylog.service

# Check version,
# must use sudo sh -c to solve the no-root permission
- block:
  - name: Check Graylog Version
    shell: sudo echo "graylog $((yum info graylog-server || apt show graylog-server)  | grep Version | sed -n 1p)" | sudo tee -a  /data/logs/install_version.txt

# check service state
- name: Check Graylog Service
  shell: systemctl status graylog | grep Active*
  register: check_graylog_service
  notify: check_graylog_service
